<div class="container">
    <div class="header">
        <h1 class="title-fundacion">Fundacion Avanzar</h1>
    </div>
    <div class="conatiner-secciones">
        <section class="seccion-1">
            <div class="seccion-nosotros">
                <div class="content-img-nostros">
                    <img class="img-fundation" src="https://image.jimcdn.com/app/cms/image/transf/none/path/se35158dc3322232c/image/ic508a77ccb3d5ec6/version/1504357887/image.png" alt="fundation">
                </div>
                <div class="parrafo-nosotros">
                    <h1 class="title-nostros">Quienes Somos?</h1>
                    <p class="text-nosotros">
                        La Fundación Avanzar se dedica al progreso social y económico de Cuenca, enfocándose en empoderar a mujeres emprendedoras y brindar apoyo integral a niños en situación vulnerable. Su enfoque se centra en el empoderamiento de mujeres a través de capacitación, mentoría y recursos, fomentando habilidades empresariales y liderazgo para lograr independencia económica. Paralelamente, la fundación despliega esfuerzos significativos para atender y respaldar a niños en situación vulnerable, garantizando su crecimiento en un entorno seguro y saludable mediante programas educativos, atención médica y actividades recreativas.

                        La visión audaz y la misión transformadora de la Fundación Avanzar la han convertido en un faro de esperanza y progreso en la comunidad cuencana. Su enfoque integral aborda las necesidades físicas, emocionales y educativas de los niños, sentando las bases para un futuro prometedor. A través de su compromiso con la igualdad de género, desarrollo sostenible y bienestar infantil, la fundación se posiciona como un modelo ejemplar en el ámbito de las organizaciones sin fines de lucro en Cuenca. Su incansable labor y logros inspiran a la comunidad a unirse en la edificación de una sociedad más justa, equitativa y próspera para todos.
                    </p>
                </div>
            </div>
        </section>
        <section class="seccion-2">
            <div class="seccion-mision">

                <div class="parrafo-mision">
                    <h1 class="title-mision">Mision?</h1>
                    <p class="text-mision">
                        La misión de la Fundación Avanzar es impulsar el progreso social y económico en Cuenca mediante el empoderamiento de mujeres emprendedoras y el respaldo integral a niños en situación vulnerable. Nuestro compromiso es proporcionar a las mujeres las herramientas, conocimientos y oportunidades necesarias para desarrollar sus capacidades empresariales, fomentar su autonomía y contribuir al crecimiento económico local.

                        Además, nos dedicamos a garantizar que cada niño en situación vulnerable en Cuenca acceda a educación de calidad, atención médica adecuada, alimentación nutritiva y un entorno seguro que les permita crecer y desarrollarse plenamente. Nuestra misión impulsa la transformación de vidas a través de la educación, el cuidado y el apoyo emocional, sentando las bases para un futuro lleno de oportunidades y logros en la ciudad.
                        
                        Mediante nuestra labor, aspiramos a crear un impacto duradero en la sociedad cuencana, promoviendo la equidad de género, el desarrollo sostenible y el bienestar infantil. Estamos comprometidos en inspirar y movilizar a la comunidad para colaborar en la edificación de una Cuenca más inclusiva, justa y próspera para todos sus habitantes.
                    </p>
                </div>

                <div class="content-img-mision">
                    <img class="img-fundation-2" src="https://www.lacthosa.com/wp-content/uploads/2017/02/lacthosa-blue-icono-mision.png" alt="fundation">
                </div>
                
            </div>
        </section>
        <section class="seccion-3">
            <div class="seccion-vision">
                <div class="content-img-vision">
                    <img class="img-fundation-3" src="https://synteko.com.ec/img/cms/OTD%20-4668-%20SYNTEKO%20-%20WEBSITE%20-%20WEB%20DESIGN-17.png" alt="fundation">
                </div>
                <div class="parrafo-vision">
                    <h1 class="title-vision">Vision?</h1>
                    <p class="text-vision">
                        La visión de la Fundación Avanzar es liderar la transformación positiva de la sociedad cuencana, donde las mujeres emprendedoras sean catalizadoras de cambio y motores del desarrollo económico, y donde cada niño en situación vulnerable alcance su máximo potencial en un entorno seguro y propicio.

                        Visualizamos un futuro en el que las mujeres respaldadas por nuestra fundación se conviertan en modelos a seguir, generando un impacto notable en sus comunidades y contribuyendo de manera significativa al progreso económico y social de Cuenca. Buscamos destacar por nuestra metodología innovadora de capacitación y apoyo, que fomenta la creatividad, la independencia y el liderazgo femenino.

                        En última instancia, nuestra visión es consolidar un futuro en el que la Fundación Avanzar sea un actor clave en la transformación de una sociedad inclusiva, justa y próspera, donde las mujeres y los niños sean protagonistas del continuo crecimiento y evolución de Cuenca.

                    </p>
                </div>
            </div>
        </section>
        <section class="seccion-3"></section>
    </div>
</div>