<div class="flex flex-col items-center justify-center w-full h-full">

    <nav class="  absolute w-full z-20 top-0 left-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center">
                <img src="../../../../assets/images/logo/avanzar.png" class="h-8 mr-3" alt="Flowbite Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Fundación
                    Avanzar</span>
            </a>
            <div class="flex md:order-2">
                <a class="mt-8" mat-flat-button [color]="'primary'" [routerLink]="'/sign-in'" style="margin-right:5px;">
                    <span>Iniciar Sesión</span>
                    <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
                </a>
                <a class="mt-8" mat-flat-button [color]="'primary'" [routerLink]="'/sign-up'">
                    <span>Registrase</span>
                </a>

                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <!-- <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium  md:flex-row md:space-x-8       ">
                    <li>
                        <a (click)="redirectToHome()" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                            (click)="redirectToNosotros()">Nosotros</a>
                    </li>
                    <li>
                        <a (click)="redirectToPlanes()"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Planes</a>
                    </li>
                    <li>
                        <a (click)="redirectToTienda()"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                            >Catalogo</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <!-- Cabezera -->

    <div class="bgimage">

        <div class="text">
            <div class="text-8xl font-extrabold tracking-tight leading-tight">
                Fundación Avanzar
            </div>

            <div class="subtitulo text-4xl  mt-4 text-xl text-secondary ">
                <p>La Fundación Avanzar entrena a mujeres emprendedoras y presta apoyo a los niños en Ecuador. </p>
            </div>

        </div>

    </div>



    <!-- Datos sobre la fundacion -->
    <div class="container-fundation">
        <div class="container-conten">
            <div class="container-fundation-info">
                <div class="flex flex-col items-center px-6 py-10 sm:px-16 sm:pt-18 sm:pb-20 bg-white dark:bg-gray-800">
                    <div class="text-4xl font-extrabold tracking-tight leading-tight">
                        Fundación Avanzar
                    </div>
                    <div class="subtitulo text-4xl  mt-4 text-xl text-secondary">
                        La Fundación Avanzar entrena a mujeres emprendedoras y presta apoyo a los niños en Ecuador.
                    </div>

                    <!-- Informacion -->
                    <div class="w-full max-w-7xl">
                        <div>


                        </div>

                        <div
                            class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3 lg:gap-16 w-full mt-12 sm:mt-16">
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:user'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Mujeres Emprendedoras"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    Explora nuestro catálogo diverso de productos artesanales y diseños originales
                                    creados por mujeres emprendedoras. Encuentra la inspiración que buscas y apoya a
                                    talentosas líderes en sus negocios.
                                </div>
                            </div>
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:building-storefront'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Tienda de Productos Únicos"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    Nuestra tienda en línea ofrece una selección única de artículos que destacan por su
                                    originalidad y calidad. Cada compra respalda el trabajo de mujeres emprendedoras y
                                    sus esfuerzos por lograr un futuro inclusivo. </div>
                            </div>
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Empoderando a Mujeres"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    En Avanzar, creemos en el poder del comercio justo para empoderar a mujeres
                                    alrededor del mundo. Con tu apoyo, estamos impulsando un cambio positivo en la vida
                                    de estas talentosas emprendedoras. </div>
                            </div>
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:light-bulb'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Creatividad con Propósito"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    Detrás de cada producto se esconde una historia de pasión y perseverancia. Descubre
                                    el significado detrás de los diseños, y comparte la inspiración que solo encuentras
                                    en nuestra comunidad. </div>
                            </div>
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:globe-europe-africa'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Comunidad Global Avanzar"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    Unimos fuerzas en nuestra comunidad global para avanzar hacia un mundo donde la
                                    igualdad económica sea una realidad. Juntas, creamos oportunidades reales y un
                                    futuro más justo. </div>
                            </div>
                            <div>
                                <span class="flex items-center justify-center w-12 h-12 rounded bg-primary">
                                    <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:chart-bar-square'"></mat-icon>
                                </span>
                                <div class="mt-4 text-xl font-medium">"Impacto Social Positivo"</div>
                                <div class="mt-2 leading-6 text-secondary">
                                    Cada compra en nuestra tienda contribuye a proyectos con corazón y apoyo a
                                    comunidades. Te invitamos a unirte a nuestra misión de empoderar sueños y promover
                                    un cambio positivo. </div>
                            </div>
                        </div>

                    </div>


                    <!-- Datos sobre la fundacion -->
                    <div
                        class="flex flex-col items-center px-6 py-10 sm:px-16 sm:pt-18 sm:pb-20 bg-white dark:bg-gray-800">
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            "Avanzamos contigo, porque tus sueños emprenden nuestro camino."
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <footer class="footer dark:bg-gray-800">
            <div class="container dark:bg-gray-800">
                <div class="row">
                    <div class="footer-col">
                        <h4> Compañía</h4>
                        <ul>
                            <li><a href="#">Compañía 1</a></li>
                            <li><a href="#">Compañía 2</a></li>
                            <li><a href="#">Compañía 3</a></li>
                            <li><a href="#">Compañía 4</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Necesitas Ayuda</h4>
                        <ul>
                            <li><a href="#">¿Quienes somos?</a></li>
                            <li><a href="#">Mision</a></li>
                            <li><a href="#">Vision</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Tienda online</h4>
                        <ul>
                            <li><a href="#">Catalogo</a></li>
                            <li><a href="#">Registrate</a></li>
                            <li><a href="#">Iniciar Sesion</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Siguenos</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 


        <footer
            class="absolute bottom-0 left-0 z-20 w-full p-4 bg-black border-t border-black shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
                    class="hover:underline">Fundación Avanzar™</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </footer>