<body>
    <div class="container">
        <div class="green-box">
            <div class="titulo">
                <p class="titulob">¡Te damos la bienvenida, Bryam Tenecota!</p>
                <p class="subtitulo">
                    ¡Esta es una plataforma en la que puedes publicar tu propio
                    emprendimiento!
                </p>
            </div>
        </div>
        <div class="subtitulob">
            <p>¿Qué puedes realizar?</p>
        </div>
        <div class="card">
            <img src="assets/images/ui/angular-material/scenes/subirimagen.png" alt="Subir Imagen">
            <div class="card-content">
                <p class="card-titulo">Publicar Imágenes</p>
                <p>
                    ¡Potencia la visibilidad de tus productos como nunca antes! Esta plataforma te brinda la oportunidad de mostrar tus artículos en su mejor luz. Sube imágenes de alta calidad que resalten los detalles únicos de cada producto. Al compartir fotos cautivadoras, estarás capturando la atención de un público más amplio y conectando con potenciales compradores de manera impactante. ¡Deja que tus productos hablen por sí mismos y alcanza a una audiencia global con cada imagen que publiques en esta plataforma!
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/ui/angular-material/scenes/subirvideos.png" alt="Subir Videos">
            <div class="card-content">
                <p class="card-titulo">Publicar Videos</p>
                <p>
                    ¡Lleva tus productos al siguiente nivel con videos impactantes! En esta plataforma, no solo puedes mostrar imágenes de alta calidad, sino que también tienes la opción de publicar videos atractivos de tus productos. ¡Imagina presentar una demostración en video de cómo tu producto se usa en la vida cotidiana o destacar sus características únicas en movimiento.Al incorporar videos, podrás transmitir información de manera más completa y emocionante, atrayendo la atención de una audiencia más amplia. Convierte espectadores en compradores al mostrar la versatilidad y calidad de tus productos a través de videos cautivadores en esta plataforma! 
                </p>
            </div>
        </div>
    </div>
</body>
