<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto min-w-0">
                    <div class="flex-0 w-20 h-20 overflow-hidden">
                        <img
                            class="w-48 h-auto mr-6"
                            src="assets/images/logo/avanzar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-lg md:text-4xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                ¡Te damos la bienvenida,
                                {{ user.persona.primer_nombre }}
                                {{ user.persona.primer_apellido }}!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <!--<mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>-->
                            <div
                                class="ml-1.5 leading-6 mt-4 truncate text-secondary"
                            >
                                Esta es una plataforma en la que puedes tener tu
                                propio emprendimiento
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <!--<div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="bg-accent"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button mat-flat-button [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog-8-tooth'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>-->
            </div>
            <!-- Project selector -->
        </div>
    </div>

    <!-- Main -->
    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex flex-col min-w-0 ml-4">
                <div
                    class="text-lg md:text-2xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                >
                    ¿Qué puedes realizar?
                </div>
            </div>
            <div
                class="sm:col-span-2 md:col-span-4 m-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-center">
                    <img
                        src="assets/images/ui/angular-material/scenes/subirimagen.png"
                        alt="Publicar Imagen"
                        class="w-48 h-auto rounded-8 mr-6"
                    />
                    <div class="flex-1">
                        <h2 class="text-2xl font-bold mb-4">
                            Publicar Imágenes
                        </h2>
                        <p class="text-justify leading-1.5">
                            ¡Potencia la visibilidad de tus productos como nunca
                            antes! Esta plataforma te brinda la oportunidad de
                            mostrar tus artículos en su mejor luz. Sube imágenes
                            de alta calidad que resalten los detalles únicos de
                            cada producto. Al compartir fotos cautivadoras,
                            estarás capturando la atención de un público más
                            amplio y conectando con potenciales compradores de
                            manera impactante. ¡Deja que tus productos hablen
                            por sí mismos y alcanza a una audiencia global con
                            cada imagen que publiques en la plataforma!
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="sm:col-span-2 md:col-span-4 m-4 lg:col-span-2 flex flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-center">
                    <img
                        src="assets/images/ui/angular-material/scenes/subirvideos.png"
                        alt="Publicar Imagen"
                        class="w-48 h-auto rounded-8 mr-6"
                    />
                    <div class="flex-1">
                        <h2 class="text-2xl font-bold mb-4">Publicar Videos</h2>
                        <p class="text-justify leading-1.5">
                            ¡Lleva tus productos al siguiente nivel con videos
                            impactantes! En esta plataforma, no solo puedes
                            mostrar imágenes de alta calidad, sino que también
                            tienes la opción de publicar videos atractivos de
                            tus productos. ¡Imagina presentar una demostración
                            en video de cómo tu producto se usa en la vida
                            cotidiana o destacar sus características únicas en
                            movimiento! Al incorporar videos, podrás transmitir
                            información de manera más completa y emocionante,
                            atrayendo la atención de una audiencia más amplia.
                            Convierte espectadores en compradores al mostrar la
                            versatilidad y calidad de tus productos a través de
                            videos cautivadores en la plataforma.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
