<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Editar Producto</div>
        <button
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <form
        class="flex flex-col flex-auto p-1 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm">
        <div class="flex">
            <mat-form-field>
                <mat-label>Nombre del Producto</mat-label>
                <input matInput [formControlName]="'nombre'" [(ngModel)]="productos.nombreProducto"> 
            </mat-form-field>
            </div>
        <div class="flex">
            <mat-form-field id="datos">
                <mat-label>Precio</mat-label>
                <input matInput [formControlName]="'precio'"[(ngModel)]="productos.precioProducto"> 
            </mat-form-field>
        <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input matInput [formControlName]="'cantidad'" [(ngModel)]="productos.cantidadDisponible">
             </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="flex-auto gt-xs:pr-3" >
                <mat-label for="estado">Estado</mat-label>
                <mat-select [(ngModel)]="productos.estado" [formControlName]="'estado'" name="estado"  id="estado">
                    <mat-option [value]="true">Disponible</mat-option>
                    <mat-option [value]="false">Eliminado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">        
            </div>
            <div class="flex items-center mt-4 sm:mt-0">
                <button  id="datos"class="ml-auto sm:ml-0" mat-stroked-button 
                (click)="discard()"> Cancelar
                </button>
                <button class="order-first sm:order-last" mat-flat-button
                    [color]="'primary'"(click)="send()">Guardar
                </button>
            </div>
        </div>
    </form>
</div>
